/*TODO: https://lengstorf.com/code/learn-rollup-css/ 
Todo: center controls
*/

.controlButton:hover, .timeElement:hover {
    background: grey
}

.controlButton:active, .timeElement:active {
    background: lightblue
}

.controlButton {
    color: black;
    background: white;
    border: solid 4px black;
    width: 45px;
    height: 45px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
}

#map {
    z-index: -999;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 1200px;
    height: 50px;
    background: black;
    opacity: 0.65;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    border: solid 4px;
    border-radius: 4px;
    margin: 0 auto
}

#timeSlider {
    width: 800px;
    float: left
}

.timeElement {
    float: left;
    background: white;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    width: 156px;
    float: left;
    border-right: 5px solid black
}

.timeElement:last-child {
    border-right: 0
}

#timeProgress {
    background: red;
    width: 200px;
    position: relative;
    height: 6px;
    margin-top: -7px
}

;